
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;

    
  }
  
  body {
    font-family: Arial, sans-serif;
   
  }
  
  header {
    background-color:white;
    color:black;
    padding: 1rem;
    border-bottom: 0.5px solid #000;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    display: inline;
    margin-right: 3rem;
  }
 
  nav a {
    text-decoration: none;
    color:black;
  }
  
  .section {
    padding: 2rem;
  }
  .centered{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
    color: #333;
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: 2px;
  }
  nav a {
    text-decoration: none;
    color: #000;
    position: relative;
    transition: color 0.3s;
  }
  
  nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    bottom: -6px;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
  }
  
  nav a:hover {
    color: #000;
  }
  
  nav a:hover::before {
    transform: scaleX(1);
  }
  .name
  {
    color: blue;
  }
  p {
    font-size:40px;
    line-height: 1.6;
  }
  .nav-button {
  
    padding: 10px 20px;
    background-color: #0077B5; 
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .nav-button:hover {
    background-color: #005A8E; 
  }
  